
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Carrito de Compras</title>
  
</head>
<body>
  <h1>Carrito de Compras</h1>
  
  <!-- Mostrar los productos en el carrito -->
  <% cartItems.forEach(item => { %>
    <div class="cart-item">
      <img src="<%= item.img %>" alt="<%= item.name %>" />
      <h2><%= item.name %></h2>
      <p>Precio: $<%= item.price %></p>
      <p>Cantidad: <%= item.amount %></p>
      <p>Total: $<%= item.amount * item.price %></p>
      <a href="/removeFromCart/<%= item._id %>">Eliminar</a> 
    </div>
  <% }); %>
</body>
</html>
